html,
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{ box-sizing: border-box;}
.sidenav{
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(95, 90, 90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2rem; 
}
.sidenav a{
    display: block;
    font-size: large;
    color:black ;
    padding: 1.5rem;
    text-decoration: none;
}
.sidenav a:hover{
    color: #ffffff;
    font-size: 150%;
}
.sidenav .closeBtn{
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 2rem;
    margin-left: 50px;
}
/* media query for larger screens */
@media screen and (min-width:390px){
    #openBtn{
      position: absolute;
      left: 20px;
      top: 70px;
      margin-top: 10px;
    }
}

#logo{transition: margin-left 0.5s;}
#logoPic{margin-bottom: 1rem;
    width: 100%;       
}
/* Styling the layout  */
.grid{
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}
.grid-item{
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    padding: 1rem; 
    margin: auto;  
}
.grid-item ul {list-style-type: none;}
hr{
    background-color:rgb(95, 90, 90);
}
/* Location Page */
#location{
    font-family: 'Roboto',sans-serif ;
}

/* styling the map */
#map {
     height: 400px;
     margin: 2rem;
   }
   .footer{
    background-color: rgb(136, 135, 135);/* fallback */
    background-image: url(./img/footer.jpg);
    width: 100%; 
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    color: #ffffff; 
    
  }
  /* removing default link styles */
 a{text-decoration: none;}
 a:link{color: #ffffff;}
 a:visited{color: #ffffff;}

/* About Page */
#about{
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem;
}
#aboutText{
    font-family: 'Roboto400', sans-serif;
}
/* Specials Page */
#specials{ font-family: 'Roboto', sans-serif;}
#specialsBtn{padding: 1rem; 
border-radius: 0.5rem; 
background-color: rgb(95, 90, 90);
font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* Book Online Page */
#bookonline{
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
}